@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";

@theme{
  --color-primary:#ec7d10;
  --font-anton: "Anton", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}


body{
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: whitesmoke;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; 
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400; 
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


button{
  cursor:pointer
}

::-webkit-scrollbar{
  @apply hidden;
}

